{% extends './layout.html' %}

{% block content %}
<h2>About PhD Finder</h2>
<p>PhD Finder is a web application built with Django that shows the PhD positions in Astronomy and Astrophysics
    (for now). The info are gathered from <a href="https://inspirehep.net/">inspirehep</a> through its API. 
</p>
<h2>About me</h2>
<p>
    My name is Andrea Costantini, I am an Italian cosmologist and a visiting student at Institute of Space Science (ICE) in Barcelona.
    I have a master's degree in Astronomy and Astrophysics from the University of Rome "La Sapienza". 
</p>
{% endblock %}